.article {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-color: #fafafa;
  justify-items: center;
  overflow-y: scroll;
  height: 67em;
}

.product-image {
  height: 9em;
}

.article .card {
  margin: 1em;
}

.card {
  width: 17em;
  height: 14.5em;
  padding: 10px;
  border-radius: 1.5rem;
  box-shadow: 0px 8px 12px 0px #c6cbdb;
  background-color: white;

}

.card a {
  text-decoration: none;
  color: #28407f;

}

.image-container {
  display: flex;
  justify-content: center;
}

.card-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 85px;
}

.btn-add-product {
  background-color: #28407f;
  color: aliceblue;
  border: none;
  border-radius: 25px;
  height: 2.5em;
  width: 10em;
  font-family: system-ui;
  cursor: pointer;
}

.right-block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  width: 6em;
}

.add-item-icon {
  font-size: xx-large;
  color: #28407f;
  cursor: pointer;
  position: absolute;
  left: 13px;
}

.right-block h5 {
  font-weight: 400;
}

.price {
  color: #28407f;
  font-size: 23px;
  font-weight: bold;
}

.currency {
  font-size: 15px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 2;
  height: 6em;
}

.search-some {
  height: 3em;
}

.nav-img {
  height: 4em;
}

#counter-basket {
  background-color: rgb(255 255 255);
  height: 20px;
  z-index: 9;
  position: absolute;
  width: 20px;
  border-radius: 50%;
  box-shadow: 0px 0px 3px #27407f66;
  font-size: smaller;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  display: flex;
}

.container-left hr {
  height: 60px;
  display: inline-block;
  border: 1px solid #00968838;
}

.container-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  color: #28407f;
  width: 32em;
  margin-left: 35px;
  font-weight: 500;
}

.basket {
  margin-left: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.basket-icon {
  height: 3em;

}



.burger-icon-btn {
  height: 4em;
  background-color: transparent;
  border: none;
  outline: none;
  margin-left: 15px;
}

.burger-icon-img {
  height: 2em;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
}

video {
  top: 44%;
  left: -5em;
  min-width: 70%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  transform: translateY(-43%);
  background-size: cover;
  transition: 1s opacity;
}

.video-container {
  height: 100vh;
}

.video-parallax {
  position: absolute;
  border-radius: 0em 95% 7em 0%;
}

.products-manage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fafafa;
  width: 95%;
}

.manage-panel {
  width: 25%;
  display: flex;
  justify-content: flex-end;
  background-color: #ffffff;
}

.product-container-popup {
  background-color: #ffffff;
  height: 52em;
  width: 55%;
  display: flex;
  border-radius: 40px;
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 70px;
  position: relative;
  box-shadow: 0px 8px 12px 0px #c6cbdb;
}

.product-container-popup hr {
  width: 85%;
}

.container-prod {
  background-color: #fafafa;
}

.product-left-description {
  display: flex;
  flex-direction: column;
  width: 40%;
  text-align: right;
  align-items: flex-end;
  justify-content: space-around;
  height: 100%;
}


.container-prod {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.product-item-image {
  height: 20em;
}

footer {
  background-color: #fafafa;
}

.product-item-image {
  height: 20em;
}

.product-data {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.container-right {
  display: flex;
  align-items: center;
  width: 42%;
  justify-content: space-between;
  margin-right: 35px;
}

.input-search {
  height: 4em;
  display: flex;
  align-self: center;
  border: none;
  border-bottom: 2px solid #27407f;
  width: 100%;
  text-align: right;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  color: #28407f;
}

.input-search::placeholder {
  color: #28407f;
  font-size: 1.5em;
}


.circular {
  height: 100px;
  width: 100px;
  position: relative;
  transform: scale(2);
  margin-bottom: 5em;
}

.circular .inner {
  position: absolute;
  z-index: 6;
  top: 50%;
  left: 50%;
  height: 88px;
  width: 88px;
  margin: -44px 0 0 -44px;
  background: #fafafa;
  border-radius: 100%;

}

.product-box {
  position: relative;
}

.circular .number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 14px;
  font-weight: 800;
  color: #27407f;
  text-align: center;
}

.span-text {
  font-size: 13px;
  font-weight: 300;
}

.circular .bar {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(255, 255, 255);
  -webkit-border-radius: 100%;
  clip: rect(0px, 100px, 100px, 50px);
}

.circle .bar .progress {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-border-radius: 100%;
  clip: rect(0px, 50px, 100px, 0px);
  background: #27407f;
}



.circle .left .progress {
  z-index: 1;
  animation: left 4s linear both;
}

@keyframes left {
  100% {
    transform: rotate(180deg);
  }
}

.circle .right {
  transform: rotate(180deg);
  z-index: 3;

}

.circle .right .progress {
  animation: right 4s linear both;
  animation-delay: 4s;
}

@keyframes right {
  100% {
    transform: rotate(180deg);
  }
}

.right-data {
  display: flex;
  flex-direction: column;
  margin-right: 5em;
  margin-top: 2em;
  z-index: 1;
}

.text-area-main {
  text-align: right;
  color: #27407f;
}

.right-data-main {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.text-area-main h1 {
  font-size: 50px;
  font-weight: 500;
}

.text-area-main h4 {
  margin-top: 30px;
}

.text-area-main p {
  font-size: 20px;
}

.input-search-location-main {
  height: 5.5em;
  border-radius: 5em;
  border: none;
  width: 50em;
  text-align: right;
  box-shadow: 0px 3px 7px 0px #858383;
  margin-top: 15px;
  outline: none;
}


.input-location-area .search-some-btn {
  margin-top: 15px;
}

.input-search-location-main::placeholder {
  color: #27407f;
  font-size: 20px;
  margin-right: 10px;
}

.main-elements {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.search-some-btn {
  background-color: #ffffff00;
  border: none;
  height: 4em;
  position: absolute;
  margin-left: 10px;
}

.input-location-area {
  display: flex;
  align-items: center;
}


.article-slider {
  display: flex;
  flex-direction: row;
  position: relative;

}

.flickity-slider {
  margin-left: -45em;
}




.article-slider .card {
  margin: 1.5em;
  height: 20em;
  width: 25em;
}

.article-slider .card .product-image {
  height: 14em;
}

.sales-slider {
  background-color: #fafafa;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 1;
}

.product-slider .card {
  margin: 1.5em;
  width: 18em;
  height: 17em;
}

.carousel-wrapper {
  position: relative;
  width: 100%;
  height: 42vh;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: #fafafa;
  overflow: hidden;
  z-index: 0;
}

.carousel-wrapper .carousel {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: auto;
  height: 335px;
}

.carousel-wrapper .carousel .carousel-cell {
  padding: 10px;
  background-color: #ffffff;
  width: 20%;
  height: auto;
  min-width: 120px;
  margin: 0 30px;
  transition: transform 500ms ease;
}

.carousel-wrapper .carousel .carousel-cell.is-selected {
  transform: scale(2);
}

.carousel-wrapper .flickity-page-dots {
  display: none;
}

.article-slider .carousel-wrapper .flickity-viewport,
.carousel-wrapper .flickity-slider {
  overflow: visible;

}

.product-popular .carousel-wrapper {
  height: 30vh;
  background-color: #ffffff;
  box-shadow: 0px;
  border-radius: 19px;
}

.title-slider {
  display: flex;
  justify-content: flex-end;
  font-size: 35px;
  color: #29407f;
  font-weight: 500;
  margin-right: 30px;
  margin-bottom: 15px;
  margin-top: -20px;
}

.sorting-panel {
  background-color: #d8dbe4;
  height: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
}

.products-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
}



.footer-links {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  position: absolute;
  text-align: right;
  color: #27407f;
  height: 30em;
  width: 100%;
  padding-top: 45px;
  background-color: #fafafa;
}

.footer-links ul {
  list-style: none;
  color: #28407f;
}

.form-subscribe {
  background-color: #eaebf1;
  border-radius: 24% 45% 0% 38%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-blocks {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 30em;
}

.footer-img {
  position: absolute;
  margin-top: 7em;
  margin-left: 15em;
}

.footer-blocks .links-element {
  display: flex;
  flex-direction: column;
  margin: 2%;
}

.list-inline {
  display: flex;
  justify-content: space-between;
}

button:active {
  outline: none;
}

button:focus {
  outline: 0;
}